Django ~= 3.2.7
django-cors-headers ~= 3.9.0
django-filter ~= 21.1
django-graphql-jwt ~= 0.3.4
django-username-email ~= 2.4.2
djangorestframework ~= 3.12.4
djangorestframework-simplejwt ~= 4.8.0
google-api-core ~= 2.0.1
google-api-python-client ~= 2.23.0
google-auth ~= 2.2.1
google-auth-httplib2 ~= 0.1.0
googleapis-common-protos ~= 1.53.0
graphene ~= 2.1.9
graphene-django ~= 2.15.0
graphql-core ~= 2.3.2
graphql-relay ~= 2.0.1
pytz
gunicorn
psycopg2-binary
PyJWT
